{% extends '../base.html' %}

{% block content %}
  <section class="section">
    <div class="container" style="margin-top: 60px; padding: 20px;">
      <div class="columns is-multiline is-centered">
        <div class="column is-8 is-5-desktop">
          <div class="box p-6 has-background-light has-text-centered">
            <h3 class="mb-5 is-size-4 has-text-weight-bold">Reset password?</h3>
            {% if form.errors %}
              <div class="notification is-danger">
                <button class="delete"></button>
                Please correct the error below.
              </div>
            {% endif %}
            {{ form.non_field_errors }}
            <form method="post">
              {% csrf_token %}
              <div class="field">
                {{ form.old_password.errors }}
                <div class="control">
                  <input class="input" type="password" name="old_password" placeholder="Old password"/>
                </div>
              </div>
              <div class="field">
                {{ form.new_password1.errors }}
                <div class="control">
                  <input class="input" type="password" name="new_password1" placeholder="New password"/>
                </div>
              </div>
              <div class="field">
                {{ form.new_password2.errors }}
                <div class="control">
                  <input class="input" type="password" name="new_password2" placeholder="Repeat new password"/>
                </div>
              </div>
              <button type="submit" class="button is-primary mb-3 is-fullwidth">Change my password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
