{% extends './base.html' %}

{% block content %}
  <section class="section">
    <div class="container" style="margin-top: 60px; padding: 20px;">
      <div class="columns is-multiline is-centered">
        <div class="column is-8 is-5-desktop">
          <div class="box p-6 has-background-light has-text-centered">
            <span class="has-text-grey-dark">Error 404</span>
            <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Page not found</h2>
            <p class="subtitle has-text-grey mb-5">Sorry! We are unable to find the page you are looking for</p>
            <div class="buttons is-centered">
              <a class="button is-primary" href="/">Go back to Homepage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
